#editor {
    min-height: 80vh;
    padding: 0px 10px;
    border: 2px solid grey;
    background: #f5f5f5;
}

#editorHeader {
    display: flex;
    flex-direction: row-flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

#editorHeader button {
    margin-left: 10px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid grey;
    border-radius: 6px;
    cursor: pointer;
}

#editorHeader button:hover {
    background: grey;
    color: white;
    transition: 0.3s;
}